opencv-python
numpy
tensorflow
pillow
streamlit
matplotlib
scikit-learn
pytesseract
python-Levenshtein
deep-translator
streamlit
opencv-python-headless
tensorflow
keras
scikit-learn
pytesseract
pillow
deep-translator
python-Levenshtein

